.search {
    margin: 38px 49px;
    input {
      padding: 10px;
      background-color: aliceblue;
      width: 30%;
      outline: none;
      border: 1px solid black;
      border-radius: 10px;
    }
  }